<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6 js-not-in-trainee col-xs-offset-0">
      <%= render "/subjects/trainee_table", trainees: @available_trainees, tblName: "tr1" %>
    </div>
    <div class="col-xs-6 js-in-trainee col-xs-offset-0">
      <%= render "/subjects/trainee_table", trainees: @joined_trainees, tblName: "tr2" %>
    </div>
  </div>
</div>
