<div class="question-<%= question.id %>">
  <% question.hash_answers.each do |answer_key, answer_value| %>
    <div class="radio">
      <label>
        <input class="trainee-answer" type="radio" value="<%= answer_key %>"><%= answer_key %> - <%= answer_value %>
      </label>
    </div>
  <% end %>
</div>
