<%= link_to trainee_trainee_answer_sheets_path do %>
  <span class="glyphicon glyphicon-th-list"></span>&nbsp;
  <%= t ".list" %>
<% end %>

<%= link_to trainee_exams_path do %>
  <span class="glyphicon glyphicon-th-list"></span>&nbsp;
  <%= t ".attemp" %>
<% end %>
