@import 'bootstrap-sprockets';
@import 'bootstrap';

$color_gray: #818181;
$color_white: #f1f1f1;
$background-color_black: #111;

.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $background-color_black;
  overflow-x: hidden;
  padding-top: 20px;
  .home-title {
    font-size: 30px;
  }
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: $color_gray;
    display: block;
    &:hover {
      color: $color_white;
    }
  }
}
.question-index{
  color: #20897b; 
}
.fixed-div{
  position:fixed;
  background:#eee;
  right: 50px;
  top:100px;
  z-index: 999;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: 30px;
  padding: 12px !important;
  padding-top: 20px !important;
}
.last-col{
  text-align: center;
}
.answer-row{
  margin-top: 20px;
}
.modal-footer{
  border-style: none !important;
  margin-top: 50px;
}
.tab-header{
  margin-bottom: 100px;
}
.js-countdown-timer{
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 50px;
}
.index-box {
  background: #eee;
  min-height: 100px;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.question-box{
  background: #d9edf7;
  min-height: 100px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}

.main {
  margin-left: 260px;
  font-size: 15px;
  padding: 0px 10px;
}
.input-search {
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.btn-height-48 {
  height: 48px;
  line-height: 2.4;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}
